@import "tailwindcss";

body {
  @apply bg-black text-white;
}

/* light mode class */
.light-mode {
  @apply bg-white text-black;
}

/* input fields */
.contact-input {
  @apply border h-10 mt-5 w-49;
}
